/* photos page */

.photo-page {
  text-align: center;
  padding: 20px;
  width: 100%;
  z-index: 1;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px;
}

.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.photo-card {
  background: linear-gradient(to bottom right, rgb(55, 9, 9), rgb(0, 0, 0));
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(97, 16, 16, 0.1);
}

.pagination-buttons {
  margin-top: 20px;
  text-align: center;
}

.pagination-buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background: linear-gradient(to bottom right, rgb(55, 9, 9), rgb(0, 0, 0));
  color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}

.pagination-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
